.active{
    border: 2px solid var(--root-color-light-blue);
    color: white;
}

.wrapper{
    border-radius: var(--root-m);
    display: block;
    padding: var(--root-m) var(--root-l);
    color: var(--root-color-light-purple);
    border: 2px solid var(--root-color-purple);

    &:hover{
         border: 2px solid var(--root-color-light-blue);
         color: white;
    }
}

