.link{
    text-decoration: none;
    color: var(--root-color-light-blue);
    transition: .2s;
    outline: none;

    &:hover{
         transition: .2s;
        text-decoration: underline;

    }
}
